<!DOCTYPE html>
<html>
	<head>
		<title>Create an Account</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'belt_review_app/index.css' %}">
	</head>

	<body>
			<div>
				<h1>Python belt exam Friends:</h1>
			</div>
			<div id='messeges'>
				{% if messages%}
					{% for message in messages%}
						<p class="error">{{message}}</p>
					{% endfor%}
				{% endif %}
				
			</div>



			<div id="wrapper">
				<div id="registration-div">
					<form action="/createUser" method="POST">
						{% csrf_token %}

			  			<div class="form-element">
							<label for="last-name">Name</label>
			  				<input type="text" name="name" id="name" >
			  			</div>

			  			<div class="form-element">
							<label for="alias">Alias</label>
			  				<input type="text" name="alias" id="alias" >
			  			</div>


		  				<div class="form-element">
							<label for="email">Email</label>
			  				<input type="text" name="email" id="email" placeholder="eg.yourname@gmail.com">
			  			</div>

		  				<div class="form-element">
			  				<label for="password">Password</label>
			  				<input type="password" name="password" id="password">
		  				</div>
		  				<p>*Password should be more than 8 characters</p>
		  				<div class="form-element">
			  				<label for="password">Confirm Password</label>
			  				<input type="password" name="passwordconfirm" id="passwordConfirm">
		  				</div>

		  				<div class="form-element">
			  				<label for="dob">Date Of Birth</label>
			  				<input type="Date" name="dateofbirth" id="dateofbirth">
		  				</div>


		  				<div class="form-element">
			  				<input type="submit" id="submitbutton" value="Sign Up">
			  			</div>
		
	  				</form>
  				</div>


  				<div id='login-div'>
	  				<form action="/login" method="POST">
	  					{% csrf_token %}

						<div class="form-element">
							<label for="email">Email</label>
			  				<input type="text" name="email" id="email" placeholder="eg.yourname@gmail.com">
			  			</div>

		  				<div class="form-element">
			  				<label for="password">Password</label>
			  				<input type="password" name="password" id="password">
		  				</div>


		  				<div class="form-element">
			  				<input type="submit" id="submitbutton" value="Log In">
		  				</div>
	  				</form>
  				</div>

  			</div>

	

	</body>
</html>